body{
  background-color: #1D2D50;
  margin:0 ;
  padding:0;
  color:#EEEEEE
}

/* 
  **param Header : 03C4A1
*/
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #ffffff;
  /* margin-top: 60px; */
  margin: 0;
  padding: 0;
}
section{
  margin: 3rem 0 ;
}

.tecnologias{
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction:column
}
.tecnologiasMain{ 
display:grid;
grid-template-columns:1fr 1fr 
}