@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --background--color: #041c32;
  --text--primary: #064663;
  --title--color: #04293a;
  --extra: #ecb365;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--background--color);
  margin: 0;
  padding: 0;
  color: var(--text--primary);
  font-family: 'Ubuntu Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

section {
  margin: 10rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titles {
  position: relative;
  text-transform: uppercase;
  font-size: 55px;
  color: #0ff;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 0.1em;
  text-shadow: -14px 7px 0 #000000;
}

.subTitle {
  position: relative;
  text-transform: uppercase;
  font-size: 25px;
  color: #0ff;
  font-weight: 900;
  font-style: italic;
}
.imageMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageMe > strong {
  font-weight: bold;
  color: rgb(0, 255, 179);
  text-shadow: -1px 0px 10px #000;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.imageMe img {
  object-fit: cover;
  width: 20rem;
  border-radius: 30%;
}
.containerHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 15rem;
}
.header {
  margin-top: 8rem;
}
.containerMe {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerMe picture {
  height: 100px;
  margin: 0;
  padding: 0;
}

.containerMe > picture > img {
  animation: float 6s ease-in-out infinite;
}

.imageMe {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0px 2px 0px #5800ff;
}
.footerMe {
  position: relative;
  top: 120px;
}
.footerMe > strong {
  color: var(--extra);
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 0.5rem;
}
.footerMe > p {
  color: #000000;
}
.footerMe > p > span {
  color: var(--extra);
}
.sobremi {
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerSobreMi {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.imgMi > img {
  width: 200px;
  border-radius: 1rem;
  padding: 0.3rem;
  margin: 1rem;
}
.descriptionMe {
  border-radius: 1rem;
  border-left: 0;
}
.descriptionMe > h3 > a {
  color: var(--extra);
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 0.5rem;
  text-decoration: none;
  letter-spacing: 2px;
}

.descriptionMe > p {
  padding: 0;
  margin: 0;
  color: #000;
  font-weight: bold;
}
.socialsMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 0 2rem;
}
.btncv {
  margin: 1rem 2rem;
}
.btncv > a {
  text-decoration: none;
  color: var(--extra);
}
@media (min-width: 300px) and (max-width: 1024px) {
  .containerSobreMi {
    display: flex;
    flex-direction: column;
  }
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 10px 25px;
  letter-spacing: 0.2rem;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btnPrimary {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: #2c5364;
  /* background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%); */
}

.btnPrimary:hover {
  color: var(--text--primary);
  font-weight: bold;
  background: transparent;
  box-shadow: none;
}

.btnPrimary:before,
.btnPrimary:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: var(--extra);
  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}

.btnPrimary:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.btnPrimary:hover:before,
.btnPrimary:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
.moreMe {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: var(--text--primary);
  border-radius: 1rem;
}
.moreMe {
  margin: 1rem;
  padding: 1rem;
}
.moreMeImage > img {
  width: 300px;
  height: 300px;
  border-radius: 1rem;
}
.containerMoreMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerMoreMe > p {
  padding: 0;
  margin: 0.3rem;
  color: #000;
  font-weight: bold;
}
.t-justify {
  text-align: justify;
  max-width: 20rem;
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tec {
  background: var(--title--color);
  margin: 7rem 10rem;
  border-radius: 1rem;
}

.tecnologias {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tecnologiasMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.btnMore {
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.3rem 0rem;
}

.moreTecnologias {
  overflow: hidden;
  position: fixed;
}

.tecmore {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tecmore > h1 {
  display: block;
}

.renderMoreTecnologias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 10rem;
}

.containerContact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.proyectos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: var(--text--primary);
  border-radius: 1rem;
  margin: 2rem 10rem;
}

.info {
  grid-column: 2/3;
}

.info label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  color: var(--extra);
}

.info label input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #eeeeee;
  color: #000;
  padding: 0.3rem;
  margin: 1rem;
}

.info label input:focus {
  outline: none;
}

.message {
  grid-column: 3/5;
}

.message label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--extra);
  align-items: center;
}

.inputC::placeholder {
  color: #000000;
  opacity: 0.7;
}

.message textarea {
  width: 20rem;
  height: 10rem;
  color: #000;
  border: 1px solid #eeeeee;
  background-color: transparent;
  border-top: 0;
}

.message textarea {
  outline: none;
}

.submit {
  grid-column: 1/6;
}
.particles {
  height: 200px;
  border: 1px solid orange;
  background-color: #1d3665;
}

@keyframes life {
  0% {
    transform: translate3d(0, -50%, 0);
  }

  100% {
    transform: translate3d(0, 0%, 0);
  }
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15 0 rgba(255, 255, 255, 1);
    transform: translateY(0px);
  }

  50% {
    box-shadow: 0 25px 15 0 rgba(255, 255, 255, 0.2);
    transform: translateY(10px);
  }

  100% {
    box-shadow: 0 5px 15 0 rgba(255, 255, 255, 1);
    transform: translateY(0px);
  }
}

@media (min-width: 300px) and (max-width: 1023px) {
  .titles {
    font-size: 2.5rem;
    margin-top: 3rem;
  }

  .sobreMi {
    margin-top: 7rem;
  }

  .containerContact {
    display: flex;
    flex-direction: column;
  }

  .renderMoreTecnologias {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .sobreMi {
    margin: 0;
  }
}
